@{
    ViewData["Display"] = "Survey Results";
}
@model Survey
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Form</title>
</head>
<body>
    <div>
        <h1>Submitted Info</h1>
        <div>
            <p>Name: @Model.Name</p>
            <p>Dojo Location: @Model.Location</p>
            <p>Favorite Language: @Model.Language</p>
            <p>Comment: @Model.Comment</p>
        </div>
        <a href="/survey">Go Back</a>
    </div>
</body>
</html>